
<div class="home">
  <h1 class="welcome"></h1>



  <div id="partyForm">
    <%= render 'form' %>
  </div>

  <div id="create_party">
    <button class="button" id="toForm">Party</button>
  </div>
</div>
